<div class="front-page-copy">
<div class="front-page-copy-lg">

Sports commentators.
<br/>
</div>

<div class="front-page-copy-sm">

Simply mention the profession and you're bound to evoke a visceral reaction in some of the most otherwise-even-keeled sports fan. How many people do you know who think they could do it better? Or even just wish someone could try? Maybe you feel that way yourself?

</div>
<div class="front-page-copy-lg">

FANcast is here to solve that problem.
</div>

<div class="front-page-copy-sm">

Got a smooth voice and a breadth of sports knowledge? Or maybe you're just funny and want to riff on professional athletes? Maybe you're a woman who feels the female perspective is lacking? Whatever your personal breed of sport commentary, FANcast is here as THE platform to provide sports fans an opportunity to be the commentator, or to listen to broadcasts from other fans the world over - and get paid doing it.
<br/><br/>

Gone are the days of a handful of commentators sitting in their ivory towers, the select few with the privledge and opportunity to broadcast their opinions and share their insights about the best athletes in the world.
<br/><br/>

FANcast is here to bring this opportunity to the masses and encourge anyone with an internet connection to get on the mic and try it themselves. While FANcast genuinely wants to thank all sports commentators - both past and present - for all that they have done, we believe it's time for a new age in live sports commentary. An age where fans can tap into a distributed network with a myriad voices to find the personality that calls a game and talks sports most to their liking.
<br/><br/>

Join today and follow your favorite teams, follow your favorite broadcasters, interact with other fans listening to the same broadcast, and even start broadcasting yourself - all in a matter of minutes.
</div>
<div class="front-page-copy-lg">

The revolution will not be televised.. but it will be broadcasted.
</div>
</div>
