<div class = "content">
  Testing facebook
<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>
</div>
<br><br><br>



<!--
  Below we include the Login Button social plugin. This button uses
  the JavaScript SDK to present a graphical Login button that triggers
  the FB.login() function when clicked.
-->


<iframe src="https://mixlr.com/users/3966051/embed" width="40%" height="180px" scrolling="no" frameborder="no" marginheight="0" marginwidth="0"></iframe>

</body>
</html>
