<div id="main-title">
  <h1>FANcast</h1>
  <h4>Become your own sports broadcaster</h4>
</div>

<div id="main-content">
  <h2>FANcast allows sports fans the opportunity to become the commentator</h2>
  <h3>and get <span id="paid">paid</span> doing it!</h3>
</div>

<!-- <div id="main-footer">

</div> -->

<div id="instructions">
  <p>HOW IT WORKS</p>
  <div id="broadcaster-info">
    <div class="info-column">
      <span>Create a free FANcast Account</span>
      <i class="fa fa-sign-in fa-3x"></i>
    </div>
    <div class="info-column">
      <span>Click "Become a Broadcaster", and follow the instructions</span>
      <i class="fa fa-exchange fa-3x"></i>
    </div>
    <div class="info-column">
      <span>Schedule games to broadcast</span>
      <i class="fa fa-list-ol fa-3x"></i>
    </div>
    <div class="info-column">
      <span>Start Broadcasting!</span>
      <i class="fa fa-microphone fa-3x"></i>
    </div>
  </div>

</div>
