<div id="main-title">
  <h1>FANcast</h1>
  <h4>Become your own sports broadcaster</h4>
</div>

<div id="main-content">
  <h2>FANcast is THE platform to provide sports fans an opportunity to be the commentator</h2>
  <h3>and get <span id="paid">paid</span> doing it.</h3>
</div>
