<h1>All Sports</h1>

<div class="row">
  <div class="col-sm-12 col-md-4">
    <div class="thumbnail">
      <%= link_to image_tag("NFL.jpg", :alt => "nfl logo"), :nfl %>
      <div class="caption">
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-4">
    <div class="thumbnail">
      <%= link_to image_tag("MLB.png", :alt => "mlb logo"), :mlb %>
      <div class="caption">
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-4">
    <div class="thumbnail">
      <%= link_to image_tag("NBA.jpg", :alt => "nba logo"), :nba %>
      <div class="caption">
      </div>
    </div>
  </div>
</div>
