<h1>All Sports</h1>

<div class="col">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag("NFL.jpg", :alt => "nfl logo") %>
      <div class="caption">
      </div>
    </div>
  </div>
</div>

<div class="col">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag("MLB.png", :alt => "mlb logo") %>
      <div class="caption">
      </div>
    </div>
  </div>
</div>

<div class="col">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag("NBA.jpg", :alt => "nfl logo") %>
      <div class="caption">
      </div>
    </div>
  </div>
</div>
