<h1>MLB Teams</h1>

<div class='nfl-teams'>
  <div class='top-nfl-header'>
    <div class='afc-logo'>
      <%= image_tag("nat-logo.png", :alt => "national logo") %>
    </div>
    <div class='nfc-logo'>
      <%= image_tag("amer-logo.png", :alt => "american logo")%>
    </div>
  </div>

  <div class="team-div-nfl">
    <div class='nfl-afc-teams'>
      <div class="list-group">
        <a class="list-group-item">
          AL East
        </a>
        <a href="#" class="list-group-item">Baltimore Orioles</a>
        <a href="#" class="list-group-item">Boston Red Sox</a>
        <a href="#" class="list-group-item">New York Yankees</a>
        <a href="#" class="list-group-item">Tampa Bay Rays</a>
        <a href="#" class="list-group-item">Toronto Blue Jays</a>
      </div>
      <div class="list-group">
        <a class="list-group-item">
          AL Central
        </a>
        <a href="#" class="list-group-item">Chicago White Sox</a>
        <a href="#" class="list-group-item">Cleveland Indians</a>
        <a href="#" class="list-group-item">Detroit Tigers</a>
        <a href="#" class="list-group-item">Kansas City Royals</a>
        <a href="#" class="list-group-item">Minnesota Twins</a>
      </div>
      <div class="list-group">
        <a class="list-group-item">
          AL West
        </a>
        <a href="#" class="list-group-item">Houston Astros</a>
        <a href="#" class="list-group-item">Los Angeles Angels</a>
        <a href="#" class="list-group-item">Oakland Athletics</a>
        <a href="#" class="list-group-item">Seattle Mariners</a>
        <a href="#" class="list-group-item">Texas Rangers</a>
      </div>

    </div>
    <div class='nfl-afc-teams'>
      <div class="list-group">
        <a class="list-group-item">
          NL East
        </a>
        <a href="#" class="list-group-item">Atlanta Braves</a>
        <a href="#" class="list-group-item">Miami Marlins</a>
        <a href="#" class="list-group-item">New York Mets</a>
        <a href="#" class="list-group-item">Philadelphia Phillies</a>
        <a href="#" class="list-group-item">Washington Nationals</a>
      </div>
      <div class="list-group">
        <a class="list-group-item">
          NL Central
        </a>
        <a href="#" class="list-group-item">Chicago Cubs</a>
        <a href="#" class="list-group-item">Cincinnati Reds</a>
        <a href="#" class="list-group-item">Milwaukee Brewers</a>
        <a href="#" class="list-group-item">Pittsburgh Pirates</a>
        <a href="#" class="list-group-item">St. Louis Cardinals</a>
      </div>
      <div class="list-group">
        <a class="list-group-item">
          NL West
        </a>
        <a href="#" class="list-group-item">Arizona Diamondbacks</a>
        <a href="#" class="list-group-item">Colorado Rockies</a>
        <a href="#" class="list-group-item">Los Angeles Dodgers</a>
        <a href="#" class="list-group-item">San Diego Padres</a>
        <a href="#" class="list-group-item">San Francisco Giants</a>
      </div>

    </div>
    </div>
  </div>

</div>
