<h1>NBA Teams</h1>

<div class='nfl-teams'>
  <div class='top-nfl-header'>
    <div class='afc-logo'>
      <%= image_tag("east-logo.png", :alt => "eastern logo") %>
    </div>
    <div class='nfc-logo'>
      <%= image_tag("west-logo.png", :alt => "western logo")%>
    </div>
  </div>

  <div class="team-div-nfl">
    <div class='nfl-afc-teams'>
      <div class="list-group">
        <a class="list-group-item divison">
          Atlantic
        </a>
        <a href="#" class="list-group-item">Boston Celtics</a>
        <a href="#" class="list-group-item">Brooklyn Nets</a>
        <a href="#" class="list-group-item">New York Knicks</a>
        <a href="#" class="list-group-item">Philadelphia 76ers</a>
        <a href="#" class="list-group-item">Toronto Raptors</a>
      </div>
      <div class="list-group">
        <a class="list-group-item divison">
          Central
        </a>
        <a href="#" class="list-group-item">Chicago Bulls</a>
        <a href="#" class="list-group-item">Cleveland Cavaliers</a>
        <a href="#" class="list-group-item">Detroit Pistons</a>
        <a href="#" class="list-group-item">Indiana Pacers</a>
        <a href="#" class="list-group-item">Milwaukee Bucks</a>
      </div>
      <div class="list-group">
        <a class="list-group-item divison">
          Southeast
        </a>
        <a href="#" class="list-group-item">Atlanta Hawks</a>
        <a href="#" class="list-group-item">Charlotte Hornets</a>
        <a href="#" class="list-group-item">Miami Heat</a>
        <a href="#" class="list-group-item">Orlando Magic</a>
        <a href="#" class="list-group-item">Washington Wizards</a>
      </div>

    </div>
    <div class='nfl-afc-teams'>
      <div class="list-group">
        <a class="list-group-item divison">
          Pacific
        </a>
        <a href="#" class="list-group-item">Golden State Warriors</a>
        <a href="#" class="list-group-item">Los Angeles Clippers</a>
        <a href="#" class="list-group-item">Los Angeles Lakers</a>
        <a href="#" class="list-group-item">Phoenix Suns</a>
        <a href="#" class="list-group-item">Sacremento Kings</a>
      </div>
      <div class="list-group">
        <a class="list-group-item divison">
          Southwest
        </a>
        <a href="#" class="list-group-item">Dallas Mavericks</a>
        <a href="#" class="list-group-item">Houston Rockets</a>
        <a href="#" class="list-group-item">Memphis Grizzlies</a>
        <a href="#" class="list-group-item">New Orleans Pelicans</a>
        <a href="#" class="list-group-item">San Antonio Spurs</a>
      </div>
      <div class="list-group">
        <a class="list-group-item divison">
          Northwest
        </a>
        <a href="#" class="list-group-item">Denver Nuggets</a>
        <a href="#" class="list-group-item">Minnesota Timberwolves</a>
        <a href="#" class="list-group-item">Oklahoma City Thunder</a>
        <a href="#" class="list-group-item">Portland Trail Blazers</a>
        <a href="#" class="list-group-item">Utah Jazz</a>
      </div>

    </div>
    </div>
  </div>

</div>
