<h1>NFL Teams</h1>

<div class='nfl-teams'>
  <div class='top-nfl-header'>
    <div class='afc-logo'>
      <%= image_tag("afc-logo.png", :alt => "afc logo") %>
    </div>
    <div class='nfc-logo'>
      <%= image_tag("nfc-logo.png", :alt => "nfc logo")%>
    </div>
  </div>

  <div class="team-div-nfl">
    <div class='nfl-afc-teams'>
      <div class="list-group">
        <a class="list-group-item divison">
          AFC East
        </a>
        <a href="#" class="list-group-item">Buffalo Bills</a>
        <a href="#" class="list-group-item">New York Jets</a>
        <a href="#" class="list-group-item">Miami Dolphins</a>
        <a href="#" class="list-group-item">New England Patriots</a>
      </div>
      <div class="list-group">
        <a class="list-group-item divison">
          AFC West
        </a>
        <a href="#" class="list-group-item">Denver Broncos</a>
        <a href="#" class="list-group-item">Kansas City Chiefs</a>
        <a href="#" class="list-group-item">Oakland Raiders</a>
        <a href="#" class="list-group-item">San Diego Chargers</a>
      </div>
      <div class="list-group">
        <a class="list-group-item divison">
          AFC North
        </a>
        <a href="#" class="list-group-item">Baltimore Ravens</a>
        <a href="#" class="list-group-item">Cincinnati Bengals</a>
        <a href="#" class="list-group-item">Cleveland Browns</a>
        <a href="#" class="list-group-item">Pittsburgh Steelers</a>
      </div>
      <div class="list-group">
        <a class="list-group-item divison">
          AFC South
        </a>
        <a href="#" class="list-group-item">Houston Texans</a>
        <a href="#" class="list-group-item">Indianapolis Colts</a>
        <a href="#" class="list-group-item">Jacksonville Jaguars</a>
        <a href="#" class="list-group-item">Tennessee Titans</a>
      </div>
    </div>
    <div class='nfl-nfc-teams'>
      <div class="list-group">
        <a class="list-group-item divison">
          NFC East
        </a>
        <a href="#" class="list-group-item">Dallas Cowboys</a>
        <a href="#" class="list-group-item">New York Giants</a>
        <a href="#" class="list-group-item">Philadelphia Eagles</a>
        <a href="#" class="list-group-item">Washington Redskins</a>
      </div>
      <div class="list-group">
        <a class="list-group-item divison">
          NFC West
        </a>
        <a href="#" class="list-group-item">Arizona Cardinals</a>
        <a href="#" class="list-group-item">San Francisco 49ers</a>
        <a href="#" class="list-group-item">Seattle Seahawks</a>
        <a href="#" class="list-group-item">St. Louis Rams</a>
      </div>
      <div class="list-group">
        <a class="list-group-item divison">
          NFC North
        </a>
        <a href="#" class="list-group-item">Chicago Bears</a>
        <a href="#" class="list-group-item">Detroit Lions</a>
        <a href="#" class="list-group-item">Green Bay Packers</a>
        <a href="#" class="list-group-item">Minnesota Vikings</a>
      </div>
      <div class="list-group">
        <a class="list-group-item divison">
          NFC South
        </a>
        <a href="#" class="list-group-item">Atlanta Falcons</a>
        <a href="#" class="list-group-item">Carolina Panther</a>
        <a href="#" class="list-group-item">New Orleans Saints</a>
        <a href="#" class="list-group-item">Tampa Bay Buccaneers</a>
      </div>
    </div>
    </div>
  </div>

</div>
