
<div class='nfl-teams'>
  <div class='top-nfl-header'>
    <div class='afc-logo'>
      <%= image_tag("afc-logo.png", :alt => "afc logo") %>
    </div>
    <div class='nfc-logo'>
      <%= image_tag("nfc-logo.png", :alt => "nfc logo")%>
    </div>
  </div>

  <div class="team-div-nfl">
    <div class='nfl-afc-teams'>
      <div class="list-group">
        <a class="list-group-item divison">
          AFC East
        </a>
        <a href="nfl/bills" class="list-group-item">Buffalo Bills</a>
        <a href="nfl/jets" class="list-group-item">New York Jets</a>
        <a href="nfl/dolphins" class="list-group-item">Miami Dolphins</a>
        <a href="nfl/patriots" class="list-group-item">New England Patriots</a>
      </div>
      <div class="list-group">
        <a class="list-group-item divison">
          AFC West
        </a>
        <a href="nfl/Broncos" class="list-group-item">Denver Broncos</a>
        <a href="nfl/Chiefs" class="list-group-item">Kansas City Chiefs</a>
        <a href="nfl/Raiders" class="list-group-item">Oakland Raiders</a>
        <a href="nfl/Chargers" class="list-group-item">San Diego Chargers</a>
      </div>
      <div class="list-group">
        <a class="list-group-item divison">
          AFC North
        </a>
        <a href="nfl/Ravens" class="list-group-item">Baltimore Ravens</a>
        <a href="nfl/Bengals" class="list-group-item">Cincinnati Bengals</a>
        <a href="nfl/Browns" class="list-group-item">Cleveland Browns</a>
        <a href="nfl/Steelers" class="list-group-item">Pittsburgh Steelers</a>
      </div>
      <div class="list-group">
        <a class="list-group-item divison">
          AFC South
        </a>
        <a href="nfl/Texans" class="list-group-item">Houston Texans</a>
        <a href="nfl/Colts" class="list-group-item">Indianapolis Colts</a>
        <a href="nfl/Jaguars" class="list-group-item">Jacksonville Jaguars</a>
        <a href="nfl/Titans" class="list-group-item">Tennessee Titans</a>
      </div>
    </div>
    <div class='nfl-nfc-teams'>
      <div class="list-group">
        <a class="list-group-item divison">
          NFC East
        </a>
        <a href="nfl/Cowboys" class="list-group-item">Dallas Cowboys</a>
        <a href="nfl/Giants" class="list-group-item">New York Giants</a>
        <a href="nfl/Eagles" class="list-group-item">Philadelphia Eagles</a>
        <a href="nfl/Redskins" class="list-group-item">Washington Redskins</a>
      </div>
      <div class="list-group">
        <a class="list-group-item divison">
          NFC West
        </a>
        <a href="nfl/Cardinals" class="list-group-item">Arizona Cardinals</a>
        <a href="nfl/49ers" class="list-group-item">San Francisco 49ers</a>
        <a href="nfl/seahawks" class="list-group-item">Seattle Seahawks</a>
        <a href="nfl/rams" class="list-group-item">St. Louis Rams</a>
      </div>
      <div class="list-group">
        <a class="list-group-item divison">
          NFC North
        </a>
        <a href="nfl/Bears" class="list-group-item">Chicago Bears</a>
        <a href="nfl/Lions" class="list-group-item">Detroit Lions</a>
        <a href="nfl/Packers" class="list-group-item">Green Bay Packers</a>
        <a href="nfl/Vikings" class="list-group-item">Minnesota Vikings</a>
      </div>
      <div class="list-group">
        <a class="list-group-item divison">
          NFC South
        </a>
        <a href="nfl/Falcons" class="list-group-item">Atlanta Falcons</a>
        <a href="nfl/Panthers" class="list-group-item">Carolina Panther</a>
        <a href="nfl/Saints" class="list-group-item">New Orleans Saints</a>
        <a href="nfl/Buccaneers" class="list-group-item">Tampa Bay Buccaneers</a>
      </div>
    </div>
    </div>
  </div>

</div>
