<div class="team-follow">
  <h1>Team Page</h1> <button>Follow TeamName</button>
</div>
<div class="main-team">
  <div class='team-logo'>
    Logo Here
  </div>

  <div class="broadcasters">
    <h3>Most Popular Broadcasters</h3>
  </div>


  <div class='team-stats'>
    <h3>Record: </h3>
    <p>Head Coach: </p>
    <p>Next Opponent: </p>
    <p>Conference Standing: </p>
  </div>

  <div class='venue-info'>
    <h3>Stadium Info:</h3>
    <p>Stadium: </p>
    <p>City:, State: </p>
    <p>Capacity: </p>
    <p>Surface: </p>
    <p>Type: </p>
  </div>

</div>
