
<body class="broadcast-home">
  <div class="broadcast">
    <!--Mixlr link  -->
    <iframe src="https://mixlr.com/<%=current_user.mixlr%>/embed" width="100px" height="180px" scrolling="no" frameborder="no" marginheight="0" marginwidth="0"></iframe>

    <a class="twitter-timeline" href="https://twitter.com/NFL" data-widget-id="630468668858703872">Tweets by @NFL</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
</body>
