/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(https://fonts.googleapis.com/css?family=Graduate|Play:400,700|Lato:400,300,700,900);


.container {
  margin: 0 auto !important;
}

.row {
  margin: 0 auto !important;
}

.content {
  font-size: 20px;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    height: 200px !important;
    margin-top: 16px !important;
}

body {
  // background-image: url('fancast-background.png');
  // background-size: 100% 100%;
  font-family: 'Lato', sans-serif !important;
}

.navbar-default .navbar-brand {
  font-family: 'Graduate', cursive;
  font-size: 50px !important;
  color: #000 !important;
}
