// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.nfl-teams, .top-nfl-header, .nfl-afc-teams, .nfl-nfc-teams, .team-div-nfl {
  background-color: 1px solid black;
}

.top-nfl-header {
  display: flex;
}

.afc-logo, .nfc-logo {
  margin-top: auto;
  margin-bottom: auto;
  width: 50%;
  height: 100px;
  display: flex;
  justify-content: center;
}

.nfl-teams {
  height: 100%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.top-nfl-header {
  width: 100%;
  height: 25%;
}

.nfl-afc-teams, .nfl-nfc-teams {
  width: 50%;
}

.nfl-afc-teams {
  margin-right: 5%;
}


.team-div-nfl {
  height: 75%;
  display: flex;
}

.next-game {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 194px;
  height: 194px;
  margin-top: 17%;
}

.divison {
  background-color: black !important;
  color: white !important;
}

// For Individual Team Pages

.main-team {
  display: flex;
}


.mdl-layout__tab-ripple-container{
  color: white !important;
}

.mdl-ripple.is-animating{
  color: white !important;
}

.team-logo {
  height: 194px;
  border: black 1px solid;
}

.broadcasters, .venue-info, .team-stats {
  width: 100%;
  height: 350px;
  padding-left: 5px;
}
//contains team name and follow button
.team-follow{
  display: flex;
  margin-bottom: 3%;
  display: flex;
}


.team-follow-button{
  -webkit-border-radius: 18;
  -moz-border-radius: 18;
  border-radius: 8px;
  border: 0 !important;
  color: #ffffff;
  font-size: 16px;
  background: #000000;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.team-follow-button:hover {
  background: #284f1b;
  background-image: -webkit-linear-gradient(top, #284f1b, #284f1b);
  background-image: -moz-linear-gradient(top, #284f1b #284f1b);
  background-image: -ms-linear-gradient(top, #284f1b, #284f1b);
  background-image: -o-linear-gradient(top, #284f1b, #284f1b);
  background-image: linear-gradient(to bottom, #284f1b, #284f1b);
  text-decoration: none;
}

// game event
  .demo-card-event.mdl-card {
    width: 256px;
    height: 256px;
    background: black;
    opacity: 0.9 !important;
  }
  .demo-card-event > .mdl-card__actions {
    border-color: rgba(255, 255, 255, 0.2);
  }
  .demo-card-event > .mdl-card__title {
    align-items: flex-start;
  }
  .demo-card-event > .mdl-card__title > h4 {
    margin-top: 0;
  }
  .demo-card-event > .mdl-card__actions {
    display: flex;
    box-sizing:border-box;
    align-items: center;
  }
  .demo-card-event > .mdl-card__title,
  .demo-card-event > .mdl-card__actions,
  .demo-card-event > .mdl-card__actions > .mdl-button {
    color: #fff;
  }

.logo-next-event {
  display: inline-block;
}

.mdl-layout__header-row {
  background-color: #a7a2a9 !important;
  opacity: .9 !important;
  color: black !important;
}

.mdl-layout__content {
  background-color: white !important;
  opacity: .9 !important;
  color: black !important;
}
.teampage {
  display: flex;
}

.mdl-layout {
    width: 70% !important;
}

.container {
    margin-left: 2% !important;
}
.demo-card-event.mdl-card {
  height: 194px;
  width: 194px;
}
