// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-main {
  width: 100%;
  height: 400px;
  display: flex;
}

.user-left-col {
  width: 50%;
  height: 100%;
  background-color: white;
  margin-right: 2%;
}

.user-right-col {
  width: 50%;
  height: 100%;
  background-color: white;
}

.user-right-top, .user-left-top {
  padding-left: 2%;
  height: 50%;
  border: 1px solid black;

}

.user-right-bottom, .user-left-bottom {
  padding-left: 2%;
  height: 50%;
  margin-top: 1%;
  border: 1px solid black;
}
